<div class="ui segment">
    <div class="required field">
        <label>{{ 'setono_sylius_items_sold.ui.sold_items.product'|trans }}</label>
        {{ render(url('setono_sylius_items_sold_plugin_admin_product', { 'id': settings.form.vars.value.id })) }}
    </div>
</div>